<div id="basics" *ngIf="currentPage == 'basics'">
    <h1>Olá, vamos começar com alguns dados básicos.</h1>
    <br>
    <input-text [label]="'Nome completo'" [name]="'name'" [value]="data.name" [placeholder]="'Ex.: José Maria da Silva'" (keyUpEvent)="updateData($event, 'name')"></input-text>
    <br>
    <input-text [label]="'E-mail'" [name]="'email'" [value]="data.email" [placeholder]="'Ex.: jose123@mail.com.br'" (keyUpEvent)="updateData($event, 'email')"></input-text>
    <br>
    <input-text [label]="'Telefone'" [name]="'tel'" [value]="data.tel" [placeholder]="'Ex.: (11) 99999-999'" (keyUpEvent)="updateData($event, 'tel')"></input-text>
    <br>
    <input-text [label]="'Endereço'" [name]="'address'" [value]="data.address" [placeholder]="'Ex.: Av. Paulista, 2200'" (keyUpEvent)="updateData($event, 'address')"></input-text>
    <br>
    <input-text [label]="'Bairro'" [name]="'district'" [value]="data.district" [placeholder]="'Ex.: Consolação'"  (keyUpEvent)="updateData($event, 'district')"></input-text>
    <br>
    <input-text [label]="'Cidade'" [name]="'city'" [value]="data.city" [placeholder]="'Ex.: São Paulo'" (keyUpEvent)="updateData($event, 'city')"></input-text>
    <br>
    <input-text [label]="'Estado'" [name]="'state'" [value]="data.state" [placeholder]="'Ex.: SP'" (keyUpEvent)="updateData($event, 'state')"></input-text>
    <br>
    <input-text [label]="'País'" [name]="'country'" [value]="data.country" [placeholder]="'Ex.: Brasil'" (keyUpEvent)="updateData($event, 'country')"></input-text>
</div>
<div id="career" *ngIf="currentPage == 'career'">
    <h1>Agora conte sobre suas experiências profissionais</h1>
    <div *ngFor="let c of data.career; index as i">
        <br>
        <div id="career-expand-{{i}}">
            <button (click)="toggleCareer(i)">></button>{{data.career[i].charge}}
        </div>
        <div id="career-{{i}}" *ngIf="data.career[i].show == 'true'">
            <input-text [label]="'Cargo'" [name]="'charge'" [placeholder]="'Ex.: Operador de máquina'" [value]="c.charge" (keyUpEvent)="updateData($event, 'career', i)"></input-text>
            <br>
            <input-text [label]="'Empresa'" [name]="'corporate'" [placeholder]="'Ex.: Xpto'" [value]="c.corporate" (keyUpEvent)="updateData($event, 'career', i)"></input-text>
            <br>
            <input-text [label]="'Início'" [name]="'start'" [placeholder]="'Ex.: 01/01/2000'" [value]="c.start" (keyUpEvent)="updateData($event, 'career', i)"></input-text>
            <br>
            <input-text [label]="'Término'" [name]="'end'" [placeholder]="'Ex.: 01/06/2005'" [value]="c.end" (keyUpEvent)="updateData($event, 'career', i)"></input-text>
            <br>
            <input-text [type]="'textarea'" [label]="'Atividades'" [name]="'activities'" [placeholder]="''" [value]="c.activities" (keyUpEvent)="updateData($event, 'career', i)"></input-text>
            <br>
            <button (click)="removeCareer(i)" *ngIf="i !== 0">-</button>
        </div>
    </div>
    <br>
    <br>
    <button (click)="addNewCareer()">+</button>
</div>