<div id="basics" *ngIf="currentPage == 'basics'">
    <h1>Olá, vamos começar com alguns dados básicos.</h1>
    <br>
    <input-text [label]="'Nome completo'" [name]="'nome'" [placeholder]="'Ex.: José Maria da Silva'" (keyUpEvent)="updateData($event, 'name')"></input-text>
    <br>
    <input-text [label]="'Telefone'" [name]="'telefone'" [placeholder]="'Ex.: (11) 99999-999'" (keyUpEvent)="updateData($event, 'tel')"></input-text>
    <br>
    <input-text [label]="'Endereço'" [name]="'endereco'" [placeholder]="'Ex.: Av. Paulista, 2200'" (keyUpEvent)="updateData($event, 'address')"></input-text>
    <br>
    <input-text [label]="'Bairro'" [name]="'bairro'" [placeholder]="'Ex.: Consolação'"  (keyUpEvent)="updateData($event, 'district')"></input-text>
    <br>
    <input-text [label]="'Cidade'" [name]="'cidade'" [placeholder]="'Ex.: São Paulo'" (keyUpEvent)="updateData($event, 'state')"></input-text>
    <br>
    <input-text [label]="'Estado'" [name]="'estado'" [placeholder]="'Ex.: SP'" (keyUpEvent)="updateData($event, 'state')"></input-text>
    <br>
    <input-text [label]="'País'" [name]="'pais'" [placeholder]="'Ex.: Brasil'" (keyUpEvent)="updateData($event, 'country')"></input-text>
</div>
<div id="career" *ngIf="currentPage == 'career'">
    <h1>Agora conte sobre suas experiências profissionais</h1>
    <br>
    <input-text [label]="'Cargo'" [name]="'charge'" [placeholder]="'Ex.: Operador de máquina'" (keyUpEvent)="updateData($event, 'country')"></input-text>
    <br>
    <input-text [label]="'Empresa'" [name]="'corporate'" [placeholder]="'Ex.: Xpto'" (keyUpEvent)="updateData($event, 'country')"></input-text>
    <br>
    <input-text [label]="'Início'" [name]="'start'" [placeholder]="'Ex.: 01/01/2000'" (keyUpEvent)="updateData($event, 'country')"></input-text>
    <br>
    <input-text [label]="'Término'" [name]="'end'" [placeholder]="'Ex.: 01/06/2005'" (keyUpEvent)="updateData($event, 'country')"></input-text>
</div>